<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-inapppurchase-sandbox" version="0.1.0">
	<name>In-App Purchase Sandbox</name>
	<description>In-app purchase sandbox for testing apps that use cordova-plugin-inapppurchase</description>
	<engines>
		<engine name="cordova" version=">=5.0.0" />
	</engines>
	<dependency id="cordova-plugin-dialogs" version="^2.0.1" />
	<dependency id="cordova-plugin-inapppurchase" version="^1.2.0" />
	<js-module src="www/index.js" name="inAppPurchaseSandbox">
		<clobbers target="inAppPurchaseSandbox" />
	</js-module>
</plugin>
